<header>

      <div id="intro" class="view">
        <div class="mask rgba-black-strong">
          <div class="container-fluid d-flex align-items-center justify-content-center h-100">
            <div class="row d-flex justify-content-center text-center">
              <div class="col-md-10">
                <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">MARMITON</h2>
                <h4 style="color: white;">
                  Bienvenue à toi cher(e) internaute sur notre espace Marmiton ! <br> <br>
                  Un catalogue riche en recettes, disponible rien que pour vous<br>
                  Entrées, plats, desserts et bien plus encore sont présents pour vous en mettre l’appétit ! <br>
                  Différentes fonctionnalités de cet espace vous sont proposées afin de vous faciliter sa découverte
                </h4>

              </div>

            </div>

          </div>

        </div>

      </div>

</header>

  <main class="mt-5">
      <div class="container">
        <section id="best-features" class="text-center">
          <h2 class="mb-5 font-weight-bold">Spécifications</h2>
          <div class="row">
            <div class="col-md-4 mb-5">
              <i class="fa fa-search fa-4x grey-text"></i>
              <h4 class="my-4 font-weight-bold">Recherche</h4>
              <p class="grey-text">Une recherche possible selon le nom de la recette désirée, le nom d'un ingrédient, la difficulté ou bien le
                        nom d'un internaute l'ayant publiée.
              </p>
            </div>
             
              <div class="col-md-4 mb-1">
                <i class="fa fa-user fa-4x grey-text"></i>
                <h4 class="my-4 font-weight-bold">Inscription</h4>
                <p class="grey-text">Un visiteur de ce site a la possibilité de s'inscrire sur cet espace en tant qu'internaute, ce dernier peut déposer ses propres recettes, tout en pouvant publier des commentaires.</p>
              </div>
                
              <div class="col-md-4 mb-1">
                <i class="fa a fa-cubes fa-4x grey-text"></i>
                <h4 class="my-4 font-weight-bold">Architecture MEAN</h4>
                <p class="grey-text">Une web app basée sur une architecture MEAN <br> (MongoDB Express Angular NodeJS)</p>
              </div>
              

          </div>

        </section>

          <hr class="my-5">


          <section id="examples" class="text-center">
            <h2 class="mb-5 font-weight-bold">Galerie</h2>

              <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                  <div class="view overlay z-depth-1-half">
                    <img src="../../assets/1_ENTREE_640x400.jpg_3.jpg" class="img-fluid" alt="">
                    <div class="mask rgba-white-slight"></div>
                  </div>

                  <h4 class="my-4 font-weight-bold">Entrée</h4>
                     

                </div>
               
                <div class="col-lg-4 col-md-6 mb-4">
                  <div class="view overlay z-depth-1-half">
                    <img src="../../assets/2_SALADE_640x400.jpg_0.jpg" class="img-fluid" alt="">
                    <div class="mask rgba-white-slight"></div>
                  </div>

                  <h4 class="my-4 font-weight-bold">Salade</h4>
                      

                </div>
           
                <div class="col-lg-4 col-md-6 mb-4">
                  <div class="view overlay z-depth-1-half">
                    <img src="../../assets/14_HIPPO_SIGNATURE_640x400.jpg.jpg" class="img-fluid" alt="">
                    <div class="mask rgba-white-slight"></div>
                  </div>

                  <h4 class="my-4 font-weight-bold">Dessert</h4>
                     

                </div>

              </div>

              <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                  <div class="view overlay z-depth-1-half">
                    <div class="mask rgba-white-slight"></div>
                  </div>

                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                  <div class="view overlay z-depth-1-half">
                    <img src="../../assets/12_LES_POISSONS_640x400.jpg_0.jpg" class="img-fluid" alt="">
                    <div class="mask rgba-white-slight"></div>
                  </div>

                  <h4 class="my-4 font-weight-bold">Plat</h4>
                    

                </div>
  
                  <div class="col-lg-4 col-md-6 mb-4">
                    <div class="view overlay z-depth-1-half">
                      <div class="mask rgba-white-slight"></div>
                    </div>                      

                  </div>

              </div>

          </section>
       
         

      </div>
    </main>

  <footer class="text-center text-white" style="background-color: #212529;">
    <div class="text-center p-3">
        <p>
        M1 GL - Projet MEAN MARMITON <br>
        HAI806I - Architectures avancées du web <br>
        © 2021-2022 
        </p>
      </div>
  </footer>
