
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>




<div id="mainContainer" class="container"> 
  <h3 class="center">Liste des recettes</h3>
  <div class="card-deck">
    <div class="row">
    <div class="col-md-3 mx-auto my-4" *ngFor="let r of recettes; index as index">
      <div class="card h-100 d-flex flex-column">
  
      <img class="card-img-top" src="../../assets/aa835e4a2e2d609558901601d25ed01c.jpg" alt="Card image cap">

      <div class="card-body">

        <h1 class="card-title" style="text-align: center; margin-top: 4px;"><b>{{r['nom']}}</b></h1>
        <p class="card-text" style="text-align:center"><em>Temps de préparation</em> : {{r['tempsDePreparation']}}</p>
        <p class="card-text" style="text-align:center"><em> Difficulté </em>: {{r['difficulte']}} </p>
        <p class="card-text" style="text-align:center"><em> Temps de cuisson </em>: {{r['tempsDeCuisson']}}</p>
        <p class="card-text" style="text-align:center"> <em> Nombre de personnes </em> : {{r['nombrePersonne']}}</p>


        <p style="text-align: center"><em>Liste d'ingrédients : </em></p>
        <ul>
            <li *ngFor="let ing of r.ingredients; index as index">
                <p style="text-align:center"> {{ index + 1 }} - {{ ing.nom }} ({{ ing.quantite }} {{ ing.unite}})  </p>
            </li>
        </ul>

        <p class="center" style="font-size: 12px;">De {{ r.recetteAuteur}} le {{r.recetteDate}}</p>
        
      
        <a type="button" class="btn-floating btn-small" id="btn1" href="#" [routerLink]="['/recettes/', r._id]"><i class='fa fa-comment' style="font-size: 20px; text-align: center; color:burlywood"></i></a> 
        
      
     </div>
        
    </div>
    </div>
  </div>
    
</div> 


























<!-- <link rel="stylesheet" href="recettes.component.css">
<div class="container products-wrap">
    <table class="tableau-style">
      
        <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nom</th>
              <th scope="col">Temps de préparation</th>
			        <th scope="col">Difficulté</th>
			        <th scope="col">Temps de cuisson</th>
			        <th scope="col">Nombre de personnes</th>
              <th scope="col">Ingrédients</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rec of recettes; let i = index">        
              <td class="count"></td>
              <td>{{rec['nom']}}</td>
              <td>{{rec['tempsDePreparation']}}</td>
              <td>{{rec['difficulte']}}</td>
			        <td>{{rec['tempsDeCuisson']}}</td>
			        <td>{{rec['nombrePersonne']}}</td>
              <td>
                <ul>
                  <li *ngFor="let ing of rec.ingredients">
                    {{ing.nom}}
                  </li>
                </ul>
              </td>
            </tr>
          </tbody> -->
      <!-- <tr *ngFor="let produit of produits">
        <td>
            {{produit['nom']}} {{produit['prix']}} {{produit['unite']}}
          <a class="nav-item nav-link" [routerLink]="['/produits/', produit.nom, produit.prix,produit.unite]"> {{ categorie }}</a>
        </td>
      </tr> -->
    <!-- </table>
  </div>
   -->



