
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container" id="conteneurCarte">
  
  
    <div class="col s9 m3">
    <div class="card">
      <div class="card-image">
        <img src="../../assets/test.jpeg">
        <span style="position: absolute;top: 390px;left: 500px;color: white; font-size: 30px;margin-top: 70px;">Nouvelle recette</span>       
        </div>
      <div class="card-stacked">
      
      <div class="card-content">
        <form action="#" method="POST">
          <label style="font-size: large"><b>Quel nom voulez-vous donner à votre recette ?</b></label>
          <input #nom type="text" placeholder="Nom de recette" required/>
  
          <label style="font-size: large"><b>Quel est le temps de préparation ?</b></label>
          <input #tempsDePreparation type="text"  placeholder="Temps de préparation" required/>
  
          <label style="font-size: large"><b>Quelle est la difficulté pour votre recette ?</b></label>
          <input #difficulte type="text" placeholder="Difficulté (facile | moyen | difficile)" required/>

          <label style="font-size: large"><b>Quel est le temps de cuisson ?</b></label>
          <input #tempsDeCuisson type="text" placeholder="Temps de cuisson" required/>
  
          <label style="font-size: large"><b>Votre recette est destinée à combien de personnes ?</b></label>
          <input #nombrePersonne type="number" min="1" placeholder="Nombre de personnes" required/>

        </form>
      </div>
      
      <div class="card-content">
        <label style="font-size: large"><b>Saisissez la liste des ingrédients nécessaire à la réalisation de votre recette.</b></label>
        <form action="#" method="POST" id="ingredients">
          <div class="row inputIngredients">
            <div class="col m6 l2">
              <input type="text" placeholder="Nom d'ingrédient" required/>
            </div>
            <div class="col m6 l2">
              <input type="text" placeholder="Unité" required/>
            </div>
            <div class="col m6 l2">
              <input type="number" min="0" placeholder="Quantité" required/>
            </div>
            <div class="col m6 l2">
              <input type="number" min="0" placeholder="Prix" required/>
            </div>
          </div>
  
        </form>
        <div class="flex-parent jc-center">
        <button type="button" class="btn btn-default" style="margin-right: 20px;" (click)="ajouterIngredient()">Ajouter un ingrédient <i class='fa fa-plus fa-sm' style="font-size: 15px; margin-left: 5px; margin-right: 2px;"></i></button>
        <button type="button" class="btn btn-default" (click)="enleverIngredient()"> Enlever un ingrédient <i class='fa fa-minus fa-sm' style="font-size: 15px; margin-left: 5px; margin-right: 2px;"></i></button>
      </div>

      </div>
      <br>
    
      <hr>
      <button type="button" class="btn btn-default" style="margin: 0 auto; display: block; margin-bottom: 15px;" 
      (click)="ajouterRecette(nom.value, tempsDePreparation.value, difficulte.value, tempsDeCuisson.value, nombrePersonne.value);" >Publier ma recette<i class="material-icons right">send</i></button>     
      
    </div>
    </div>
  </div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
